In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'cleancreditcarddata.csv')
pd.set_option('display.max_columns',None)
df

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Gender_M,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,0,45,3,1,2,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,1,1,0,0,0,0,0
1,0,49,5,4,0,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0,0,1,0,0,0,0
2,0,51,3,4,4,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,1,1,0,0,0,0,0
3,0,40,4,1,0,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0,0,0,1,0,0,0
4,0,40,3,0,2,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0,50,2,4,1,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,1,0,1,0,0,0,0
10123,1,41,2,3,1,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,1,0,0,0,0,0,0
10124,1,44,1,1,0,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0,1,0,0,0,0,0
10125,1,30,2,4,1,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,1,0,0,1,0,0,0
10126,1,43,2,4,0,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0,1,0,0,0,0,1

In [3]:
y=df['Attrition_Flag']
x=df.drop('Attrition_Flag',axis=1)

In [4]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Attrition_Flag, dtype: int64

In [5]:
x.head()

,Customer_Age,Dependent_count,Education_Level,Income_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Gender_M,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,45,3,1,2,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,1,1,0,0,0,0,0
1,49,5,4,0,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0,0,1,0,0,0,0
2,51,3,4,4,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,1,1,0,0,0,0,0
3,40,4,1,0,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0,0,0,1,0,0,0
4,40,3,0,2,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,1,1,0,0,0,0,0

In [6]:
#checking how many of mainority and majority class

In [7]:
y.value_counts()

Attrition_Flag
0    8500
1    1627
Name: count, dtype: int64

In [8]:
8500/1627

5.224339274738783

In [9]:
#it's clear imablance data

In [10]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,roc_auc_score
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.linear_model import LogisticRegression

#saving the model

In [11]:
lr=LogisticRegression(class_weight='balanced')

In [12]:
# spliting data

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=22)

In [14]:
#scalling

In [15]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

In [16]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((8101, 23), (2026, 23), (8101,), (2026,))

In [17]:
y_train.value_counts()

Attrition_Flag
0    6805
1    1296
Name: count, dtype: int64

In [18]:
x_train

array([[ 0.20087185,  0.50207814, -0.93408542, ..., -0.10717778,
        -0.04448565, -0.24280496],
       [ 0.32560455,  0.50207814,  1.96404785, ..., -0.10717778,
        -0.04448565, -0.24280496],
       [-0.54752437,  1.27211506,  0.80479454, ..., -0.10717778,
        -0.04448565,  4.11853202],
       ...,
       [-0.17332626, -1.0379957 ,  0.80479454, ..., -0.10717778,
        -0.04448565, -0.24280496],
       [-0.29805896, -1.0379957 , -1.51371207, ..., -0.10717778,
        -0.04448565, -0.24280496],
       [-0.17332626, -0.26795878,  0.80479454, ..., -0.10717778,
        -0.04448565, -0.24280496]])

In [19]:
#treating imablance data

In [20]:
from imblearn.over_sampling import SMOTE
us=SMOTE()
x_train,y_train=us.fit_resample(x_train,y_train)

In [21]:
x_train.shape,y_train.shape,

((13610, 23), (13610,))

In [22]:
# from sklearn.decomposition import PCA
# pca=PCA(n_components=0.95)
# x_train=pca.fit_transform(x_train)
# x_test=pca.transform(x_test)

In [23]:
# x_train.shape,y_train.shape,

In [24]:
import warnings
warnings.filterwarnings('ignore')

In [25]:
lr.fit(x_train,y_train)
ypred_train=lr.predict(x_train)
print('train:',accuracy_score(y_train,ypred_train))
print('cv:',cross_val_score(lr,x_train,y_train,cv=5,scoring='accuracy').mean())

train: 0.8606906686260103
cv: 0.8596620132255695

In [26]:
ypred_test=lr.predict(x_test)

print('test:',accuracy_score(y_test,ypred_test))

test: 0.8499506416584403

In [27]:
# import matplotlib.pyplot as plt
# plt.hist(ypred_test, bins=20)
# plt.title("Prediction Probabilities")
# plt.show()

In [28]:
# classificatio report

In [29]:
print(classification_report(y_test,ypred_test))

              precision    recall  f1-score   support

           0       0.97      0.85      0.90      1695
           1       0.53      0.85      0.65       331

    accuracy                           0.85      2026
   macro avg       0.75      0.85      0.78      2026
weighted avg       0.89      0.85      0.86      2026